In [66]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [86]:
df_movie = pd.read_csv('movies.csv')
df_ratings = pd.read_csv('ratings.csv')

In [68]:
df = pd.merge(df_ratings, df_movie, on='movieId', how='inner')

In [69]:
topmovie = [778,
            608,
            1527,
            3000,
            2324,
            2329,
            2028,
            2858,
            3147,
            2762,
            2571,
            2959,
            3578,
            3949,
            4011,
            7022,
            5618,
            4878,
            4963,
            27368,
            6502,
            27773,
            7153,
            6874,
            6711,
            6539,
            7254,
            7361,
            32587,
            33493,
            48780,
            44191,
            51255,
            54001,
            55247,
            58559,
            63082,
            64614,
            60069,
            79132,
            60684,
            72998,
            70286,
            52319,
            76251,
            92259,
            89745,
            96079,
            99114,
            109487
        ]

### User table creation

In [70]:
nb_ratings = pd.pivot_table(df, 
                            values=['rating'],
                            index=['movieId'],
                            aggfunc = 'count'
                           )

In [71]:
nb_ratings.reset_index(inplace = True)

In [72]:
nb_ratings = nb_ratings.loc[nb_ratings['rating'] > 100]

In [73]:
df_result = df.loc[((df['movieId'].isin(nb_ratings['movieId'])) | (df['movieId'].isin(topmovie)))]

In [ ]:
df_result.sort_values(by=['movieId'], inplace=True)

In [ ]:
df_result['movieId'] = 'm' + df_result['movieId'].astype(str)

In [76]:
matrix = pd.pivot_table(df_result, 
                        values = ['rating'],
                        index = ['userId'],
                        columns = ['movieId'],
                        #fill_value = 0
                       )
matrix

        rating                                                        ...  \
movieId     m1  m10 m1036 m1073 m1079 m1080 m1089 m109487 m1097 m110  ...
userId                                                                ...
1          NaN  NaN   NaN   NaN   NaN   NaN   4.5     NaN   NaN  4.0  ...
2          5.0  NaN   NaN   4.0   NaN   NaN   NaN     NaN   NaN  NaN  ...
3          NaN  NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN  NaN  ...
4          NaN  NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN  NaN  ...
5          4.0  NaN   NaN   NaN   NaN   NaN   NaN     NaN   NaN  0.5  ...
...        ...  ...   ...   ...   ...   ...   ...     ...   ...  ...  ...
664        NaN  NaN   4.5   NaN   NaN   NaN   NaN     NaN   NaN  5.0  ...
665        NaN  NaN   NaN   4.0   NaN   NaN   3.5     NaN   NaN  3.5  ...
666        NaN  NaN   NaN   NaN   NaN   NaN   5.0     NaN   NaN  NaN  ...
667        NaN  NaN   NaN   NaN   NaN   NaN   4.0     NaN   NaN  4.0  ...
668        3.0  3.5   3.0   NaN   2.5   NaN   2.5     4.0   4.5  4.0  ...


movieId m858 m8961 m89745 m912 m919 m92259 m924  m95 m96079 m99114
userId
1        5.0   4.0    NaN  5.0  NaN    NaN  NaN  NaN    NaN    NaN
2        NaN   NaN    NaN  NaN  NaN    NaN  NaN  4.0    NaN    NaN
3        NaN   NaN    NaN  NaN  NaN    NaN  NaN  NaN    NaN    NaN
4        5.0   NaN    NaN  5.0  5.0    NaN  NaN  NaN    NaN    NaN
5        NaN   NaN    NaN  NaN  NaN    NaN  NaN  NaN    NaN    NaN
...      ...   ...    ...  ...  ...    ...  ...  ...    ...    ...
664      NaN   NaN    NaN  NaN  NaN    NaN  NaN  NaN    NaN    NaN
665      NaN   NaN    NaN  NaN  NaN    NaN  NaN  NaN    NaN    NaN
666      2.0   NaN    NaN  NaN  3.0    NaN  NaN  NaN    NaN    NaN
667      NaN   NaN    NaN  NaN  NaN    NaN  NaN  NaN    NaN    NaN
668      5.0   4.0    2.0  5.0  5.0    NaN  3.0  2.0    4.5    3.5

[660 rows x 183 columns]

In [77]:
matrix.columns = matrix.columns.droplevel()

In [78]:
matrix["prenom"]=""
matrix["nom"]=""

In [79]:
second = matrix.pop("prenom")
first = matrix.pop("nom")

matrix.insert(0,"prenom", second)
matrix.insert(0,"nom", first)

In [62]:
matrix['userId']= np.arange(len(matrix))

### Creation of user table in the database

In [80]:
url = 'mysql://root:jro35all!@localhost/recosyst'
engine = create_engine(url, echo=True)
connection = engine.connect()

2023-03-25 13:18:02,824 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'sql_mode'
2023-03-25 13:18:02,825 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-25 13:18:02,830 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2023-03-25 13:18:02,831 INFO sqlalchemy.engine.Engine [generated in 0.00089s] ()
2023-03-25 13:18:02,837 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-03-25 13:18:02,839 INFO sqlalchemy.engine.Engine [raw sql] ()

In [81]:
matrix.to_sql('user', con = engine , if_exists='replace', index= False)

2023-03-25 13:18:04,310 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2023-03-25 13:18:04,310 INFO sqlalchemy.engine.Engine [generated in 0.00072s] ('recosyst', 'user')
2023-03-25 13:18:04,314 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2023-03-25 13:18:04,315 INFO sqlalchemy.engine.Engine [cached since 0.005584s ago] ('recosyst', 'user')
2023-03-25 13:18:04,317 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `recosyst`
2023-03-25 13:18:04,318 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-25 13:18:04,322 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `user`
2023-03-25 13:18:04,323 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-25 13:18:04,356 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-25 13:18:04,358 INFO sqlalchemy.engine.Engine
DROP TABLE user
2023-03-25 13:18:04,358 INFO sqlalchemy.engine.Engine [no key 0.00075s] ()
2023-03-25 13:18:04,400 INFO sqlalchemy.engine.Engine COMMIT
2023-03-25 13:18:04,425 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-25 13:18:04,439 INFO sqlalchemy.engine.Engine
CREATE TABLE user (
	nom TEXT,
	prenom TEXT,
	m1 FLOAT(53),
	m10 FLOAT(53),
	m1036 FLOAT(53),
	m1073 FLOAT(53),
	m1079 FLOAT(53),
	m1080 FLOAT(53),
	m1089 FLOAT(53),
	m109487 FLOAT(53),
	m1097 FLOAT(53),
	m110 FLOAT(53),
	m111 FLOAT(53),
	m1136 FLOAT(53),
	m1193 FLOAT(53),
	m1196 FLOAT(53),
	m1197 FLOAT(53),
	m1198 FLOAT(53),
	m1200 FLOAT(53),
	m1206 FLOAT(53),
	m1208 FLOAT(53),
	m1210 FLOAT(53),
	m1213 FLOAT(53),
	m1214 FLOAT(53),
	m1221 FLOAT(53),
	m1222 FLOAT(53),
	m1240 FLOAT(53),
	m1258 FLOAT(53),
	m1259 FLOAT(53),
	m1265 FLOAT(53),
	m1270 FLOAT(53),
	m1291 FLOAT(53),
	m1387 FLOAT(53),
	m1393 FLOAT(53),
	m141 FLOAT(53),
	m150 FLOAT(53),
	m1517 FLOAT(53),
	m1527 FLOAT(53),
	m153 FLOAT(53),
	m1580 FLOAT(53),
	m161 FLOAT(53),
	m1610 FLOAT(53),
	m1617 FLOAT(53),
	m165 FLOAT(53),
	m1682 FLOAT(53),
	m1704 FLOAT(53),
	m1721 FLOAT(53),
	m1732 FLOAT(53),
	m185 FLOAT(53),
	m1923 FLOAT(53),
	m1961 FLOAT(53),
	m1968 FLOAT(53),
	m2011 FLOAT(53),
	m2028 FLOAT(53),
	m208 FLOAT(53),
	m21 FLOAT(53),
	m2115 FLOAT(53),
	m2174 FLOAT(53),
	m223 FLOAT(53),
	m2291 FLOAT(53),
	m231 FLOAT(53),
	m2324 FLOAT(53),
	m2329 FLOAT(53),
	m2355 FLOAT(53),
	m2396 FLOAT(53),
	m253 FLOAT(53),
	m2571 FLOAT(53),
	m260 FLOAT(53),
	m2628 FLOAT(53),
	m2683 FLOAT(53),
	m2706 FLOAT(53),
	m2716 FLOAT(53),
	m27368 FLOAT(53),
	m2762 FLOAT(53),
	m27773 FLOAT(53),
	m2858 FLOAT(53),
	m288 FLOAT(53),
	m2916 FLOAT(53),
	m2918 FLOAT(53),
	m292 FLOAT(53),
	m293 FLOAT(53),
	m2959 FLOAT(53),
	m296 FLOAT(53),
	m2987 FLOAT(53),
	m2997 FLOAT(53),
	m3000 FLOAT(53),
	m3114 FLOAT(53),
	m3147 FLOAT(53),
	m316 FLOAT(53),
	m318 FLOAT(53),
	m32 FLOAT(53),
	m32587 FLOAT(53),
	m329 FLOAT(53),
	m33493 FLOAT(53),
	m33794 FLOAT(53),
	m339 FLOAT(53),
	m34 FLOAT(53),
	m344 FLOAT(53),
	m349 FLOAT(53),
	m356 FLOAT(53),
	m357 FLOAT(53),
	m3578 FLOAT(53),
	m364 FLOAT(53),
	m367 FLOAT(53),
	m377 FLOAT(53),
	m3793 FLOAT(53),
	m380 FLOAT(53),
	m3949 FLOAT(53),
	m3996 FLOAT(53),
	m4011 FLOAT(53),
	m4226 FLOAT(53),
	m4306 FLOAT(53),
	m434 FLOAT(53),
	m44191 FLOAT(53),
	m454 FLOAT(53),
	m457 FLOAT(53),
	m47 FLOAT(53),
	m474 FLOAT(53),
	m480 FLOAT(53),
	m4878 FLOAT(53),
	m48780 FLOAT(53),
	m4886 FLOAT(53),
	m4963 FLOAT(53),
	m4973 FLOAT(53),
	m4993 FLOAT(53),
	m4995 FLOAT(53),
	m50 FLOAT(53),
	m500 FLOAT(53),
	m51255 FLOAT(53),
	m52319 FLOAT(53),
	m527 FLOAT(53),
	m5349 FLOAT(53),
	m539 FLOAT(53),
	m54001 FLOAT(53),
	m541 FLOAT(53),
	m5418 FLOAT(53),
	m5445 FLOAT(53),
	m55247 FLOAT(53),
	m5618 FLOAT(53),
	m58559 FLOAT(53),
	m586 FLOAT(53),
	m587 FLOAT(53),
	m588 FLOAT(53),
	m589 FLOAT(53),
	m590 FLOAT(53),
	m592 FLOAT(53),
	m593 FLOAT(53),
	m595 FLOAT(53),
	m5952 FLOAT(53),
	m597 FLOAT(53),
	m6 FLOAT(53),
	m60069 FLOAT(53),
	m60684 FLOAT(53),
	m608 FLOAT(53),
	m63082 FLOAT(53),
	m6377 FLOAT(53),
	m64614 FLOAT(53),
	m648 FLOAT(53),
	m6502 FLOAT(53),
	m6539 FLOAT(53),
	m6711 FLOAT(53),
	m6874 FLOAT(53),
	m7022 FLOAT(53),
	m70286 FLOAT(53),
	m7153 FLOAT(53),
	m7254 FLOAT(53),
	m72998 FLOAT(53),
	m733 FLOAT(53),
	m736 FLOAT(53),
	m7361 FLOAT(53),
	m750 FLOAT(53),
	m76251 FLOAT(53),
	m778 FLOAT(53),
	m780 FLOAT(53),
	m79132 FLOAT(53),
	m858 FLOAT(53),
	m8961 FLOAT(53),
	m89745 FLOAT(53),
	m912 FLOAT(53),
	m919 FLOAT(53),
	m92259 FLOAT(53),
	m924 FLOAT(53),
	m95 FLOAT(53),
	m96079 FLOAT(53),
	m99114 FLOAT(53)
)


2023-03-25 13:18:04,439 INFO sqlalchemy.engine.Engine [no key 0.00086s] ()
2023-03-25 13:18:04,493 INFO sqlalchemy.engine.Engine COMMIT
2023-03-25 13:18:04,520 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-25 13:18:04,699 INFO sqlalchemy.engine.Engine INSERT INTO user (nom, prenom, m1, m10, m1036, m1073, m1079, m1080, m1089, m109487, m1097, m110, m111, m1136, m1193, m1196, m1197, m1198, m1200, m1206, m1208, m1210, m1213, m1214, m1221, m1222, m1240, m1258, m1259, m1265, m1270, m1291, m1387, m1393, m141, m150, m1517, m1527, m153, m1580, m161, m1610, m1617, m165, m1682, m1704, m1721, m1732, m185, m1923, m1961, m1968, m2011, m2028, m208, m21, m2115, m2174, m223, m2291, m231, m2324, m2329, m2355, m2396, m253, m2571, m260, m2628, m2683, m2706, m2716, m27368, m2762, m27773, m2858, m288, m2916, m2918, m292, m293, m2959, m296, m2987, m2997, m3000, m3114, m3147, m316, m318, m32, m32587, m329, m33493, m33794, m339, m34, m344, m349, m356, m357, m3578, m364, m367, m377, m3793, m380, m3949, m3996, m4011, m4226, m4306, m434, m44191, m454, m457, m47, m474, m480, m4878, m48780, m4886, m4963, m4973, m4993, m4995, m50, m500, m51255, m52319, m527, m5349, m539, m54001, m541, m5418, m5445, m55247, m5618, m58559, m586, m587, m588, m589, m590, m592, m593, m595, m5952, m597, m6, m60069, m60684, m608, m63082, m6377, m64614, m648, m6502, m6539, m6711, m6874, m7022, m70286, m7153, m7254, m72998, m733, m736, m7361, m750, m76251, m778, m780, m79132, m858, m8961, m89745, m912, m919, m92259, m924, m95, m96079, m99114) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-25 13:18:04,701 INFO sqlalchemy.engine.Engine [generated in 0.16166s] (('', '', None, None, None, None, None, None, 4.5, None, None, 4.0, None, 5.0, None, 4.5, None, 4.0, None, None, None, 4.5, 5.0, None, 5.0, 5.0, None, 4.5, None, 3.0, 3.0, None, None, None, None, 3.0, None, None, None, 3.5, 4.0, None, 3.5, 3.0, None, None, 1.5, None, None, 1.5, 3.0, None, None, 4.5, None, None, None, None, 4.0, None, None, None, None, None, 4.0, None, 4.5, 4.5, 3.0, None, None, 3.5, None, 3.0, None, 4.0, None, None, None, None, None, 5.0, 4.0, None, None, None, None, None, None, 4.0, 4.0, 4.5, None, 4.5, 4.5, None, None, None, 4.5, 3.0, None, 4.0, None, None, 2.5, None, 3.0, None, None, 4.5, None, 4.0, None, None, None, 4.0, 4.0, None, 3.5, None, 4.0, None, 3.5, None, 4.5, 4.0, 4.0, None, None, None, 4.5, 3.0, None, None, None, 4.0, 3.5, None, None, None, None, None, None, 3.5, 3.5, 2.5, 5.0, None, 4.5, 3.0, None, None, None, 3.5, None, None, None, 3.5, None, None, 3.5, None, None, None, 4.5, None, None, None, 3.0, None, None, None, None, 3.5, None, 5.0, 4.0, None, 5.0, None, None, None, None, None, None), ('', '', 5.0, None, None, 4.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 4.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 3.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 5.0, None, None, None, 4.0, None, None, None, None, None, None, None, None, None, None, 4.0, None, None, None, None, 4.0, None, None, None, None, None, None, None, None, 4.0, None, None), ('', '', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 3.0, 4.0, None, None, None, None, None, None, None, 3.0, None, None, None, None, 3.0, None, None, None, None, None, None, 5.0, None, None, 5.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 3.0, None, None, 5.0, None, None, None, None, None, None, None, None, None, None, None, None, 3.0, 5.0, None, 3.0, 3.0, 4.0, None, None, 4.0, 3.0, None, 3.0, None, None, None, None, None, None, None, 3.0, 4.0, None, None, 4.0, None, None, None, None, None, None, None, 5.0, 4.0, None, None, 4.0, None, 3.0, None, None, None, None, None, None, None, 4.0, 3.0, 3.0, 3.0, 4.0, 3.0, 5.0, 4.0, None, 3.0, None, None, None, 5.0, None, None, None, 4.0, None, None, None, None, None, None, None, None, None, None, 3.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None), ('', '', None, None, None, None, None, None, None, None, None, None, 4.0, None, None, 4.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 4.0, None, None, None, None, 2.0, None, None, None, None, None, None, None, None, None, None, None, None, None, 5.0, None, None, None, None, None, None, None, 1.0, None, None, None, None, None, None, None, None, None, None, None, None, 4.0, 5.0, None, None, 5.0, None, None, 4.0, 5.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 4.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 4.0, None, None, None, None, None, None, 4.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 5.0, None, None, 5.0, 5.0, None, None, None, None, None), ('', '', 4.0, None, None, None, None, None, None, None, None, 0.5, None, None, None, None, None, None, None, 4.5, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 3.5, None, None, 3.5, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 0.5, None, None, None, None, None, 1.5, None, None, 4.0, None, None, None, 3.5, None, None, None, None, None, None, None, 1.5, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.0, None, None, None, None, 3.0, None, None, None, None, None, None, None, None, 4.0, None, None, None, None, None, None, 3.0, None, None, None, None, None, None, None, None, 0.5, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 3.5, None, None, 0.5, None, 4.0, None, None, None, None, None, None, None, 3.5, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 4.0, None, None, None, None, None, None, None, None, None, None, None, None), ('', '', None, None, None, 5.0, None, None, None, None, 4.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 4.0, None, None, 4.5, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 5.0, None, None, None, None, None, None, None, None, None, None, None, None, 5.0, None, None, 4.0, None, None, 5.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 3.0, None, None, None, None, 3.5, 4.0, None, 3.0, 5.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 4.5, None, None, None, None, None, None, None, None, None, None, None, None, None, 5.0, None, None, None, 3.5, None, None, None, None, 4.0, 5.0, None, None, None, None, None, None, None, 5.0, None, 3.0, None, None, None, None, None, None, None, None, None, None, None, None, None), ('', '', None, 4.0, 5.0, None, None, 5.0, 3.0, None, None, None, None, 5.0, None, 5.0, None, 5.0, 5.0, 3.0, 5.0, 5.0, None, 5.0, 3.5, 5.0, 5.0, 4.0, None, None, None, 4.0, None, None, None, None, 4.5, 4.0, None, 4.0, None, 4.5, None, 5.0, None, None, None, 3.5, None, None, None, None, None, 5.0, None, None, 4.5, None, None, None, 4.0, None, 5.0, None, None, None, 5.0, 5.0, 2.5, 5.0, None, None, None, None, None, None, 4.5, 3.0, None, None, 4.0, 5.0, 3.5, None, None, None, None, None, 4.0, None, 5.0, 5.0, None, 3.0, 3.5, None, None, 1.0, None, 5.0, None, None, None, 1.0, 3.5, 4.0, None, None, None, 5.0, None, 3.0, None, 4.0, None, None, 5.0, None, None, 4.0, None, None, 4.5, None, 3.0, None, None, None, None, None, 2.5, 3.0, None, None, 4.0, 4.0, None, None, None, 5.0, None, None, None, 4.5, None, None, 5.0, None, 3.0, None, None, None, 3.5, None, None, None, None, 3.5, 2.5, 2.5, None, 2.5, None, None, 3.0, None, None, 4.5, None, None, None, None, None, 4.0, 2.0, 3.5, None, None, None, None, None, None, None, None, None), ('', '', 5.0, None, None, 5.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 5.0, None, None, None, None, None, None, None, None, None, None, None, 5.0, 3.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 4.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 3.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 5.0, None, None, None, None, None, None, None, None, None, 3.0, 3.0, None, None, None, 4.0, 4.0, None, None, None, None, None, None, None, None, 3.0, None, None)  ... displaying 10 of 660 total bound parameter sets ...  ('', '', None, None, None, None, None, None, 4.0, None, None, 4.0, None, 4.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 4.0, None, None, None, 3.5, None, 3.5, None, None, None, None, None, None, 4.0, None, None, 4.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 3.0, None, 4.5, None, None, 2.5, None, None, None, 4.5, None, 4.5, None, None, None, None, None, None, 4.5, None, 4.5, None, None, 4.0, None, None, 4.5, None, None, None, None, 3.0, None, 3.5, None, 4.5, 4.0, 4.0, 4.0, 2.5, 4.0, None, None, None, None, None, None, None, None, None, None, None, 4.5, None, None, None, None, 4.0, None, 4.5, 5.0, None, 4.5, 3.5, None, None, 4.0, None, 3.0, None, None, None, 4.5, None, None, None, None, None, None, None, None, None, None, None, 4.5, None, None, None, None, None, None, None, None, None, None, 4.0, None, None, None, None, 4.0, None, None, None, None, None, None, None, 4.5, 3.0, None, None, None, None, None, None, None, None, None, None, None), ('', '', 3.0, 3.5, 3.0, None, 2.5, None, 2.5, 4.0, 4.5, 4.0, 4.0, 4.0, 4.0, 2.5, 3.0, 4.0, 3.5, 2.5, 4.0, 3.0, 4.5, 4.0, 4.5, 3.0, 3.0, 4.0, 3.0, 3.0, 3.0, 3.0, 4.5, 3.0, 3.5, 3.0, 2.0, 2.0, 3.0, 3.0, 3.0, 2.0, 4.5, 3.0, 3.0, 4.0, 3.0, 4.0, 2.0, 4.0, 3.0, 3.0, 2.0, 4.0, 1.5, 3.5, 3.0, 3.0, 3.0, 2.0, None, 4.0, 3.0, 3.0, 4.5, 3.0, 4.0, 3.0, 3.0, 2.5, 2.0, 4.0, None, 4.0, None, 4.0, 1.0, 3.0, 3.0, 2.0, 2.0, 2.0, 4.0, 2.0, 4.0, 3.0, 4.0, 3.0, 2.0, 4.0, 3.0, 2.5, 2.0, 3.0, 3.5, 2.0, 3.0, None, 4.0, 4.0, 4.0, 4.0, 3.0, None, 4.0, 3.0, 3.0, 3.0, 5.0, 3.5, 4.0, 3.0, 3.5, 2.5, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0, 3.5, 2.0, 3.0, 2.5, 4.0, 4.0, 4.0, 2.0, 2.5, None, 4.0, 3.0, 4.0, 2.0, 4.0, 3.0, 4.0, 3.5, None, 3.5, 2.0, 4.0, 3.0, 4.0, 3.5, 3.5, 4.5, 3.0, 3.5, 2.0, 5.0, 4.0, 3.0, 4.5, 5.0, 4.0, 2.5, 3.0, 3.5, 3.0, 2.5, 3.0, None, 3.5, 4.0, 3.0, 4.5, 2.0, 4.0, 3.5, 4.0, 2.0, 3.0, 3.0, 3.5, 5.0, 4.0, 2.0, 5.0, 5.0, None, 3.0, 2.0, 4.5, 3.5))

2023-03-25 13:18:05,085 INFO sqlalchemy.engine.Engine COMMIT

### Creation of movie table

In [87]:
df_movie['movieId'] = 'm' + df_movie['movieId'].astype(str) 
df_movie.rename(columns = {'title':'Titre', 'genres':'Genres'})

In [ ]:
df_movie

In [89]:
df_movie.to_sql('movie', con = engine , if_exists='replace', index= False)

2023-03-25 16:04:37,680 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2023-03-25 16:04:37,681 INFO sqlalchemy.engine.Engine [cached since 9993s ago] ('recosyst', 'movie')
2023-03-25 16:04:37,686 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2023-03-25 16:04:37,687 INFO sqlalchemy.engine.Engine [cached since 9993s ago] ('recosyst', 'movie')
2023-03-25 16:04:37,690 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `recosyst`
2023-03-25 16:04:37,692 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-25 16:04:37,696 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `movie`
2023-03-25 16:04:37,697 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-25 16:04:37,701 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-25 16:04:37,703 INFO sqlalchemy.engine.Engine
DROP TABLE movie
2023-03-25 16:04:37,704 INFO sqlalchemy.engine.Engine [no key 0.00106s] ()
2023-03-25 16:04:37,779 INFO sqlalchemy.engine.Engine COMMIT
2023-03-25 16:04:37,781 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-25 16:04:37,784 INFO sqlalchemy.engine.Engine
CREATE TABLE movie (
	`movieId` TEXT,
	title TEXT,
	genres TEXT
)


2023-03-25 16:04:37,785 INFO sqlalchemy.engine.Engine [no key 0.00109s] ()
2023-03-25 16:04:37,819 INFO sqlalchemy.engine.Engine COMMIT
2023-03-25 16:04:37,824 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-25 16:04:37,976 INFO sqlalchemy.engine.Engine INSERT INTO movie (`movieId`, title, genres) VALUES (%s, %s, %s)
2023-03-25 16:04:37,978 INFO sqlalchemy.engine.Engine [generated in 0.12790s] (('m1', 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy'), ('m2', 'Jumanji (1995)', 'Adventure|Children|Fantasy'), ('m3', 'Grumpier Old Men (1995)', 'Comedy|Romance'), ('m4', 'Waiting to Exhale (1995)', 'Comedy|Drama|Romance'), ('m5', 'Father of the Bride Part II (1995)', 'Comedy'), ('m6', 'Heat (1995)', 'Action|Crime|Thriller'), ('m7', 'Sabrina (1995)', 'Comedy|Romance'), ('m8', 'Tom and Huck (1995)', 'Adventure|Children')  ... displaying 10 of 10329 total bound parameter sets ...  ('m148626', 'The Big Short (2015)', 'Drama'), ('m149532', 'Marco Polo: One Hundred Eyes (2015)', '(no genres listed)'))
2023-03-25 16:04:38,298 INFO sqlalchemy.engine.Engine COMMIT